html, body, body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}


body{ 
    font-family: Verdana;
    font-size: 12px;
}

div,
ul,
ul li,
a,
form,
input {
    
}

a, a:hover {
    text-decoration: none;
}

a,
a:active,
a:visited,
a:hover {
    color: #007f6e;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
}
.fix-website-size {
    position: relative;
    width: 970px;
    margin: 0 auto;
    text-align: center;
}

#homepage {
    background-color: #ffffff;
    background-image: linear-gradient(bottom, rgb(255,255,255) 21%, rgb(233,233,233) 61%, rgb(214,211,214) 81%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 21%, rgb(233,233,233) 61%, rgb(214,211,214) 81%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 21%, rgb(233,233,233) 61%, rgb(214,211,214) 81%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 21%, rgb(233,233,233) 61%, rgb(214,211,214) 81%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 21%, rgb(233,233,233) 61%, rgb(214,211,214) 81%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.21, rgb(255,255,255)),
            color-stop(0.61, rgb(233,233,233)),
            color-stop(0.81, rgb(214,211,214))
    );
}

#header {
    width:100%;
    height: 174px;
    background-color: #ffffff;
    position: relative;
}
.top-bar {
    width:100%;
    height: 25px;
    background-color: #000000;
}
.bottom-top-bar {
    background: transparent url('images/bg-top-bar.png') center -1px no-repeat;
}
.top-bar-content {
}
.navigation1 {
    position: absolute;
    left: 30px;
    top: 10px;
}
.navigation1 a {
    color: #ffffff;
    text-shadow: 0px 0px 9px #000000;
}
.navigation1 a:hover {
    color: #007f6e;
     : 0px 0px 7px #ffffff;
}
.navigation1 ul li {
    display: inline;
    margin: 0 10px;
}
.navigation1 ul li.first {
    margin: 0 10px 0 0;
}
.current a {
    color: #007f6e;
}
.item1 {
    
}
.item2 {
    
}
.item3 {
    
}
.item4 {
    
}
.item5 {
    
}
.item6 {
    
}
.item7 {
    
}
.item8 {
    
}
.item9 {
    
}
.item10 {
    
}
.first {
    
}
.last {
    
}
.search-bloc {
    position: absolute;
    right: 25px;
    top: 5px;
}
input.search {
    border: 1px solid #000000;
    height: 16px;
    width: 150px;
    font-size: 10px;
    color: #999999;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
input.search-button {
    border: none;
    background: transparent url('images/sprite.png') -30px top no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.bandeau {
}
.logo-bloc {
    position: absolute;
    left: 25px;
    top: 40px;
}
.ads-bloc {
    position: absolute;
    right: 0;
    top: 35px;
}


#highlight-bloc {
    position: relative;
    height: 405px;
    background-color: #000000;
    color: #ffffff;
}
.navigation2 {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 17px;
}
.navigation2 ul li {
    display: block;
    height: 38px;
    text-transform: uppercase;
}
.navigation2 ul li a {
    background-color: #ffffff;
    color: #007f6e;
    padding: 7px;
}
.navigation2 ul li.current a {
    background-color: #007f6e;
    color: #ffffff;
}
.navigation2 ul li a:hover {
    background-color: #007f6e;
    color: #ffffff;
    padding: 7px 25px 7px 7px;
}
.slider {
    position: absolute;
    top: 0;
    height: 405px;
    width: 100%;
}
.social-bar {
    position: absolute;
    right: 0;
    top: 17px;
    font-weight: bold;
    font-size: 10px;
}
.social-bar .title-flag,
.social-bar .facebook {
    padding: 15px 0;
}

.social-bar .title-flag .text {
    background-color: #007F6E;
    float: right;
    height: 11px;
    padding: 7px 7px 7px 10px;
}
.social-bar .title-flag .icon {
    background: transparent url('images/sprite.png') -100px -27px no-repeat;
    float: left;
    height: 25px;
    width: 12px;
    cursor: pointer;
}

.social-bar .facebook .text {
    float: right;
    height: 11px;
    padding: 7px;
    color: #007F6E;
    display: none;
}
.social-bar .facebook .icon {
    background: transparent url('images/sprite.png') -58px 3px no-repeat;
    float: right;
    height: 25px;
    width: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.social-bar .facebook:hover .text,
.social-bar .twitter:hover .text,
.social-bar .rss:hover .text {
    display: block;
}
.social-bar .twitter .text {
    float: right;
    height: 11px;
    padding: 7px;
    color: #007F6E;
    display: none;
}
.social-bar .twitter .icon {
    background: transparent url('images/sprite.png') -74px 3px no-repeat;
    float: right;
    height: 25px;
    width: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.social-bar .rss .text {
    float: right;
    height: 11px;
    padding: 7px;
    color: #007F6E;
    display: none;
}
.social-bar .rss .icon {
    background: transparent url('images/sprite.png') -94px 3px no-repeat;
    float: right;
    height: 25px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}




#global-content {
    position: relative;
    text-align: left;
    padding-top: 20px;
}
#main-content {
    float: left;
    width: 700px;
}
.citation {
    font-family: Georgia;
    color: #444444;
    font-size: 16px;
    font-style: italic;
    margin: 15px 0; 
}
.citation .open {
    height: 30px;
    width: 30px;    
    background: transparent url('images/sprite.png') -30px -20px no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -10px;
}
.citation .close {
    height: 30px;
    width: 30px;    
    background: transparent url('images/sprite.png') -62px -20px no-repeat;
    margin-left: 10px;
    margin-top: -5px;
    float: right;
}
.post-list {
    margin-top: 30px;
}
.post {
    border-bottom: 1px dotted #000000;
    padding-bottom: 20px;
    margin-top: 20px;
}
.picture {
}
.picture img {
    margin-right: 20px;
    height: 116px;
    width: 210px;
    border: 1px solid #000000;
    padding: 1px;
    background-color: #ffffff;
}
.title {
    color: #000000;
    font-weight: bold;
    font-size: 13px;
}
.categories {
    font-size: 10px;
    margin: 10px 0;
}
.categories a {
    color: #999999;
    text-transform: uppercase;
}
.extract {
    font-size: 11px;
    line-height: 18px;
    color: #333333;
}
.readmore {
    font-weight: bold;
}
.postmeta {
    color: #999999;
    font-size: 10px;
    margin-top: 15px;
}
.posted {
    display: inline;
}
.date {
    display: inline;
}
.reads {
    display: inline;
}
.reads .icon {
    background: transparent url('images/sprite.png') -3px -2px no-repeat;
    padding: 0 6px;
    display:inline;
}
.likes {
    display: inline;
}
.likes .icon {
    background: transparent url('images/sprite.png') -3px -25px no-repeat;
    padding: 0 6px;
    display:inline;
}
.comments {
    display: inline;
}
.comments .icon {
    background: transparent url('images/sprite.png') -3px -47px no-repeat;
    padding: 0 6px;
    display:inline;
}

#sidebar {
    float: right;
    width: 240px;
} 

.widget-post {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 1px;
    height: 214px;
    position: relative;
    margin-bottom: 10px;
}
.widget-post .legend {
    background: transparent url('images/pixel-black-90.png') left top repeat;
    position: absolute;
    bottom: 1px;
    width:235px;
}
.widget-post .legend .title a {
    font-weight: bold;
    font-size:14px;
    color: #007f6e;
}
.widget-post .legend .title,
.widget-post .legend .small-extract {
    margin: 5px;
}
.widget-post .legend .small-extract a {
    font-size:11px;
    color: #ffffff;
}
.widget-text {
    border: 1px solid #000000;
}
.widget-text .content {
    margin: 10px 5px;
    color: #444444;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
}

#infinity-scroll {
    
}
#infinity-scroll .progress-bar {
    float: left;
    background: transparent url('images/progress-bar.png') left center no-repeat;
    width: 720px;
    height: 30px;
    margin-bottom: 20px;
}
#infinity-scroll .button {
    float: right;
    width: 240px;
    border: 1px solid #000000;
    padding: 1px;
}
#infinity-scroll .button .plumb-text {
    background: #007f6e url('images/plumb-arraow.png') 10px center no-repeat;
    padding: 5px 5px 5px 40px;
    color: #ffffff;
    width: 195px;
    font-weight: bold;
    font-size: 12px;
}

#footer-button {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
}


.page-interieure {
    background-color: #ffffff;
}


#main-nav-bloc {
    height: 30px;
    padding-top: 20px;
    background-color: #000000;
}
#main-nav-bloc .navigation2 {
    text-align: left;
    position:inherit;
}
#main-nav-bloc .navigation2 ul li {
    display: inline;
}
#main-nav-bloc .navigation2 ul li.first {
    margin-right: 15px;
}
#main-nav-bloc .navigation2 ul li a {
    color: #000000;
}
#main-nav-bloc .navigation2 ul li.current a {
    color: #ffffff;
}
#main-nav-bloc .navigation2 ul li a:hover {
    padding-right: 7px;
    color: #ffffff;
}


#main-content .title {
    color: #333333;
    font-family: Georgia;
    font-size: 20px;
    text-transform: uppercase;
}

.post-detail {
    border: 1px solid #d9d9d9;
    width: 700px;
    color: #333333;
}
.post-detail .sub-post-header,
.post-detail .extract,
.post-detail .post-content
{
    margin: 0 20px;
}
.post-header {
    border-bottom: 1px dotted #d9d9d9;
    margin: 20px 20px 0px 20px;
}
.post-header .clear {
    height: 20px;
}
.post-header .title {
    width: 530px;
    float: left;
}
.post-header .postmeta {
    width: 120px;
    float: right;
}
.sub-post-header {
    border-bottom: 1px dotted #d9d9d9;
}
.sub-post-header .categories {
    float: left; 
    width: 300px;
}
.sub-post-header .categories a {
    color: #007F6E;
}
.sub-post-header .posted {
    float: right;
    width: 200px;
}
.wide-picture {
    border: 1px solid #000000;
    margin: 20px;
}
.wide-picture img {
    margin: 1px;
}
.post-detail .extract {
    color: #444444;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    margin: 10px 20px
}
.post-content {
    padding-bottom: 20px;
    border-bottom: 1px dotted #d9d9d9;
}
.post-content h2 {
    margin: 20px 0;
    color: #000000;
}
.postmeta-bottom {
    margin: 0 20px;
    border-bottom: 1px dotted #d9d9d9;
}
.postmeta-bottom .tags {
    float: left; 
    width: 400px;
    margin: 10px 0;
}
.postmeta-bottom .postmeta {
    float: right; 
    width: 100px;
    margin: 10px 0;
}

#comments-bloc {
    margin: 20px;
    font-size: 11px;
}

#comments-bloc .title {
    color: #007F6E;
    border-bottom: 1px dotted #444444;
    padding-bottom: 5px;
}
#comments-bloc .comment {
    margin: 20px 20px 0 20px;
    border-bottom: 1px dotted #d9d9d9;
    padding: 0 0 10px 0;
}
#comments-bloc .avatar {
    float: left;
    margin: 0 10px 10px 0;
}
#comments-bloc .avatar img {
    padding: 1px;
    border: 1px solid #000000;
}
#comments-bloc .first {
    color: #333333;
}
.meta {
    color: #999999;
    font-size: 10px;
    margin: 10px 0;
}
#comments-bloc .actions {
    float: right;
    margin: 20px 0 0 0;
    font-weight: bold;
    color: #007F6E;
}
#comments-bloc .thecomment {
    margin-left: 85px;
}
#comments-bloc .thecomment .comment {
    background-color: #efefef;
    padding: 10px;
    margin: 10px 0;
    border: none;
}
#comments-bloc .thecomment .comment .meta {
    margin-top: 0px;
}
#comments-bloc .thecomment .comment .thecomment {
    margin-left: 45px;
}
#comments-bloc .last {
    border-bottom: none;
}
#others-comments-link {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin: 20px;
    border-top: 1px dotted #444444;
    border-bottom: 1px dotted #444444;
    padding: 10px;
    font-family: Georgia;
    font-size: 13px;
}
.comment-number {
    font-weight: bold;
}

#comment-submission {
    background-color: #000000;
    margin: 20px;
    padding: 20px;
}
#comment-submission .title {
    color: #007F6E;
    margin-bottom: 20px;
}
#comment-submission input,
#comment-submission textarea,
#comment-submission select {
    font-size: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: none;
    padding: 3px;
}
#comment-submission form .line-field {
    clear: both;
    min-height: 30px;
    color: #007F6E;
}
#comment-submission form .line-field .icon {
    height: 20px;
    width: 20px;
    float: left;
    margin: 10px 10px 10px 40px;
    /* background-color: #1c1c1c; */
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
#comment-submission form .name .icon .icon-image {
    background: transparent url('images/sprite.png') -8px -69px no-repeat;
    height: 20px;
    width: 20px;
}
#comment-submission form .website .icon .icon-image {
    background: transparent url('images/sprite.png') -49px -69px no-repeat;
    height: 20px;
    width: 20px;
}
#comment-submission form .feelings .icon .icon-image {
    background: transparent url('images/sprite.png') -89px -69px no-repeat;
    height: 20px;
    width: 20px;
}
#comment-submission form .line-field .field {
    float: left;
    width: 450px;
    margin: 10px 10px 10px 0;
    background-color: #1c1c1c;
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
#comment-submission textarea {
    width: 420px;
}
#comment-submission .submission {
    float: right;
    margin-right: 60px;
}
#comment-submission .submission input {
    cursor: pointer;
    float: right;
    background: transparent;
    color: #ffffff;
    margin: 5px 0 5px 0;
}
#comment-submission .submission .icon-image {
    background: transparent url('images/sprite.png') -117px -67px no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 0 5px 5px;
}
.gradient-background-form {
    color: #ffffff; 
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
    /* Anciens navigateurs */
    background: #007f6e url("images/gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /* Internet Explorer */
    *background: #007f6e;
    background: #007f6e\0/;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF00b29a, endColorstr=#FF007f6e);
    }
    @media all and (min-width: 0px) {
        .gradient-background-form {
                /* Opera */
                background: #007f6e url("images/gradient-bg.svg");
                /* Navigateurs récents */
                background-image: -webkit-gradient(
                        linear,
                        left top, left bottom,
                        from(#00b29a),
                        to(#007f6e)
                );
                background-image: -webkit-linear-gradient(
                        top,
                        #00b29a,
                        #007f6e
                );
                background-image: -moz-linear-gradient(
                        top,
                        #00b29a,
                        #007f6e
                );
                background-image: -o-linear-gradient(
                        top,
                        #00b29a,
                        #007f6e
                );
                background-image: linear-gradient(
                        top,
                        #00b29a,
                        #007f6e
                );
        }
}


#footer {
    background: #0c0e0e url('images/bg-footer.png') left top repeat;
    text-shadow: 1px 1px 1px #000000;
}
#footer .open {
    display: block;
    text-align: left;
    padding-bottom: 20px;
}
#footer .col .col1,
#footer .col .col2,
#footer .col .col3 {
    width: 315px;
    float: left;
}
#footer .col .col1,
#footer .col .col2 {
    margin-right: 10px;
}
#footer .title {
    text-transform: uppercase;
    font-family: Georgia;
    font-size: 15px;
    color: #007F6E;
    margin: 15px 0;
}
#footer ul li.first {
    border-top: none;
}
#footer ul li.last {
    border-bottom: none;
}
#footer ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #000000;
}
#footer a {
    color: #777777;
    text-shadow: 1px 1px 1px #000000;
}
#footer a:hover {
    color: #ffffff;
}
#footer .social-media .icon {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 10px;
}
#footer .facebook .icon {
    background: transparent url('images/sprite.png') -139px -4px no-repeat;
}
#footer .delicious .icon {
    background: transparent url('images/sprite.png') -162px -4px no-repeat;
}
#footer .twitter .icon {
    background: transparent url('images/sprite.png') -139px -44px no-repeat;
}
#footer .youtube .icon {
    background: transparent url('images/sprite.png') -162px -44px no-repeat;
}
#footer .linkedin .icon {
    background: transparent url('images/sprite.png') -139px -84px no-repeat;
}
#footer .rssfeed .icon {
    background: transparent url('images/sprite.png') -162px -84px no-repeat;
}
#footer .social-media .col1,
#footer .social-media .col2
{
    float: left;
    width: 150px;
    margin-right: 0;
}
#footer .shareit {
    margin-top: 10px;
}
#footer .shareit .action {
    font-size: 36px;
    font-family: Verdana;
}
#footer .shareit .action a {
    color: #ffffff;
}